name: Build Android App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Node.js dependencies
        run: npm install --legacy-peer-deps
        working-directory: ./VeneredNativeApp

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        run: chmod +x ./VeneredNativeApp/android/gradlew

      - name: Build with Gradle
        run: ./VeneredNativeApp/android/gradlew -p ./VeneredNativeApp/android assembleDebug

      - name: Upload APKs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apks
          path: VeneredNativeApp/android/app/build/outputs/apk/debug/
